@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0B0B0D;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0B0D;
}
::-webkit-scrollbar-thumb {
  background: #1A1A1D;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
